<!-- 📁 Chemin : android/app/src/main/AndroidManifest.xml -->
<!-- 🔗 Dépendances : url_launcher plugin -->
<!-- 📋 Description : Configuration Android pour url_launcher -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- ✅ PERMISSIONS POUR URL_LAUNCHER -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- ✅ PERMISSION POUR OUVRIR DES URLS EXTERNES -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:label="toutie_budget"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Splashscreen -->
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            
            <!-- Theme to apply as soon as Flutter draws its first frame -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- ✅ INTENT FILTER POUR OAUTH REDIRECT -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- URL de redirection PocketBase -->
                <data android:scheme="http" android:host="192.168.1.77" android:port="8090" android:path="/api/oauth2-redirect" />
            </intent-filter>
            
        </activity>
        
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <!-- ✅ PERMISSION POUR REQUETES RÉSEAU -->
    <uses-permission android:name="android.permission.INTERNET" />
    
</manifest>